# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
terraform.tfplan
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Flask
instance/
*.db
*.sqlite3
*.log

# IDEs / Editors
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
